* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Epilogue', sans-serif;
  --ff-texting: 'Epilogue', sans-serif;

  --hue: 183;
  --bc-primary: hsla(var(--hue), 22%, 20%, 1);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-secondary-dark: hsl(var(--hue), 100%, 11%, 1);

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: 4rem;
}

body {
  font-family: var(--ff-texting);
  background-color: var(--bc-primary);
  color: var(--fc-primary);
  font-size: var(--fs-body);
}

.page {
  max-width: 33rem;
  margin: 0 auto;
}


img {
  width: 100%;
  height: auto;
}

header {
  font-family: var(--ff-heading);
  text-align: center;
  margin-top: 10.5rem;
  
  animation-name: topdown;
  animation-duration: 700ms;
  animation-delay: 10ms;
}

header p {
  color: var(--fc-secondary);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 1.7rem;
  line-height: 3.2rem;
  font-weight: 400;
}

header h1 {
  font-size: var(--fs-heading);
  font-weight: 800;
  line-height: 4.8rem;
  margin-bottom: 8.0rem;
}

.card {
  position: relative;
  font-family: var(--ff-heading);
  animation: downtop 700ms 10ms backwards;
}

.card img {
  height: 41.6rem;
  object-fit: cover;
  border-radius: 6px;
  filter: brightness(1.1) saturate(1.1);
  transition: all 200ms;
}

.card img:hover {
  transform: scale(1.1);
  opacity: 0.6;
}

.card h2 {
  position: absolute;
  bottom: 3.2rem;
  left: 2.8rem;
  font-size: 4rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.card h2 span {
  border-radius: 2rem;
  background-color: #33f3f3ea;
  font-size: var(--fs-body);
  color: var(--fc-secondary-dark);
  font-weight: bold;
  padding: 0 1.6rem;
  height: 3.8rem;
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

main {
  display: grid;
  gap: 3.2rem;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 1000px) {
  :root {
    --fs-heading: 5.6rem;
  }

  .page {
    max-width: 117rem;
    padding: 0 5rem;
  }

  main {
    grid-template-areas: "columnA columnB columnB" "columnC columnC columnD";
  }

  main div:nth-child(1) {
    grid-area: columnA;
  }

  main div:nth-child(2) {
    grid-area: columnB;
  }

  main div:nth-child(3) {
    grid-area: columnC;
  } 

  main div:nth-child(4) {
    grid-area: columnD;
  }
}